In [31]:
heroes = ['batman', 'superman', 'spiderman']
print(heroes)
heroes.index('batman')
print(heroes[0])
heroes.append('wonderwoman')
heroes.remove('batman')
print(heroes[2])
heroes.index('superman')
print(heroes)

['batman', 'superman', 'spiderman']
batman
wonderwoman
['superman', 'spiderman', 'wonderwoman']

In [25]:
heroes = ['Batman', 'Superman', 'Spiderman']
print('Batman' in heroes)
print('Ironman' not in heroes)
hero = 'Superman'
print(hero in heroes)
print('Ironman' not in ['Captain America', 'Ironman', 'Hulk'])

True
True
True
False

In [26]:
heroes1 = ['Batman', 'Superman', 'Spiderman']
heroes2 = ['Captain America', 'Ironman', 'Hulk']
print(heroes1 + heroes2)
heroes = heroes1 + heroes2
heroes2.remove('Hulk')
print(heroes2)

['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']
['Captain America', 'Ironman']

In [27]:
heroes = ['Batman', 'Superman', 'Captain America', 'Ironman', 'Hulk']
heroes.sort()
print(heroes)

['Batman', 'Captain America', 'Hulk', 'Ironman', 'Superman']

In [28]:
heroes = ['Batman', 'Superman', 'Captain America', 'Ironman', 'Hulk']
heroes.reverse()
print(heroes)

['Hulk', 'Ironman', 'Captain America', 'Superman', 'Batman']

In [30]:
heroes = ['Batman', 'Superman', 'Captain America', 'Ironman', 'Hulk']
print(sorted(heroes))
print(list(reversed(heroes)))

['Batman', 'Captain America', 'Hulk', 'Ironman', 'Superman']
['Hulk', 'Ironman', 'Captain America', 'Superman', 'Batman']

In [3]:
heroes = ['Batman', 'Superman', 'Captain America', 'Ironman', 'Hulk']
for hero in heroes:
  print("my hero is {}".format(hero))

my hero is Batman
my hero is Superman
my hero is Captain America
my hero is Ironman
my hero is Hulk

In [5]:
heroes = ['Batman', 'Superman', 'Captain America', 'Ironman', 'Hulk']
for hero in heroes:
  print(f"my hero is {hero}")

my hero is Batman
my hero is Superman
my hero is Captain America
my hero is Ironman
my hero is Hulk

In [11]:
numbers = [1,2,3,4,5,6]
total = 0
for number in numbers:
  total = total + number
  print(total)

1
3
6
10
15
21

In [13]:
numbers = [1,2,3,4,5,6,]
total = sum(numbers)
print(total)

21

In [19]:
age = input('enter your age')
age = int(age)
if age >=100:
       print('that is not valid age')
elif age >=18:
         print('you are old enough to drive')
elif age <=0:
         print('that is not valid age')
else:
         print('you are not old enough to drive')

enter your age18
you are old enough to drive

In [20]:
age = input('enter your age')
age = int(age)
if age >=100:
       print('that is not valid age')
elif age >=18:
         print('you are old enough to drive')
elif age <=0:
         print('that is not valid age')
else:
         print('you are not old enough to drive')

enter your age10
you are not old enough to drive

In [21]:
numbers = [200, 43, 10, -10, 0]
for number in numbers:
  if number> 100:
    print(f"{number} is greater than 100")

200 is greater than 100

In [23]:
numbers = [200, 43, 10, -10, 0]
for number in numbers:
  if number> 100:
    print(f"{number} is greater than 100")
  elif number <100:
      print(f"{number} is lessthan 100")

200 is greater than 100
43 is lessthan 100
10 is lessthan 100
-10 is lessthan 100
0 is lessthan 100

In [24]:
numbers =[200, 100, 43, 10, -10, 0]
filtered = []

for number in numbers:
  if number >30:
    filtered.append(number)
print(filtered)

[200, 100, 43]