In [4]:
numbers = [1,2,3,4,5,6]

for number in numbers:
    if(number%2) == 0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even

In [11]:
numbers = [1,2,3,4,5,6]
evens = []
odd = []

for number in numbers:
  if (number%2) == 0:
    evens.append(number)

for number in numbers:
   if (number%2) != 0:
     odd.append(number)  

print(evens)
print(odd)

[2, 4, 6]
[1, 3, 5]

In [18]:
numbers = [1,2,3,4,5,6]
doubles = []

for number in numbers:
  number *= 2
  doubles.append(number)

print(doubles)
#they all numbers are multiples by 2

[2, 4, 6, 8, 10, 12]

In [17]:
numbers = [1,2,3,4,5,6]
doubles = [number * 2 for number in numbers]
print(doubles)
#multiples all by two

[2, 4, 6, 8, 10, 12]

In [23]:
name_length = []
names = ["alice", "bob", "carol"]
name_length = [len(name) for name in names]
    
print(name_length)

[5, 3, 5]

In [25]:
record = ["alice", 5]

name, length = record

print(f"{name} have a length of {length}")
#also determine the Length in the record

alice have a length of 5

In [38]:
records = [ ["alice", 5],["bob", 3], ["carlo", 5] ]
for name,length in records:
    print(f"{name} have a length of {length}")

alice have a length of 5
bob have a length of 3
carlo have a length of 5

In [46]:
names = ["alice", "bob", "carlo"]
name_length = [5, 3, 5]

for name, length in zip(name, name_length):
    print(f"{name} have a length of {length}")

print(zip(name, name_length))
print(list(zip(name, name_length)))

r have a length of 5
<zip object at 0x7f17baaa83c0>
[('r', 5)]

In [52]:
names = ["alice", "bob", "carlo", "marvin"]
name_length = [5,3,5]
genders = ["female", "male", "female"]
ages = [15, 22, 34]
filtered = []

for name, length, gender, age in zip(names, name_length, genders, ages):
    print(f"{name} have a length of {length}. they are {gender}. Ages are {age}")

alice have a length of 5. they are female. Ages are 15
bob have a length of 3. they are male. Ages are 22
carlo have a length of 5. they are female. Ages are 34